@model ProvisioningPrototype.Models.TestLinkModel
@{
    ViewBag.Title = "Links";
}
<link href="@Url.Content("~/StyleSheets/Main.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/jscolor/jscolor.js"></script>
<div id="LinksWrapper">
    <div id="ColorSelectionWrapper">
        <h2>
            Links:
        </h2>
        <div class="ColorSelection">
            <table class="ColorTable">
                <tr style="display:@Model.DisplayPortalLink">
                    @*Modified by K.G(25/11/2011) to hide or show portal link based on the Offline & Advanced modes*@
                    <td>
                        Portal Link:
                    </td>
                    <td>
                        <a href="@Model.PortalLink" target="_blank">@Model.PortalLink</a>
                    </td>
                </tr>
                <tr style="display:@Model.DisplaySurveyLink">
                    @*Modified by K.G(25/11/2011) to hide or show Survay link based on the Offline & Advanced modes*@
                    <td>
                        Test Survey Link:
                    </td>
                    <td>
                        <a href="@Model.SurveyLink" target="_blank">@Model.SurveyLink</a>
                    </td>
                </tr>
                <tr style="display:block;">
                    <td>
                        Skin Package Link:
                    </td>
                    <td>
                        <a href="@Model.SkinPackageLink" target="_blank">@Model.SkinPackageLink</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
